#landingscreen {
    position: fixed;
    background-color: white;
    z-index: 69;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.centeredblock {
    position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);
}

canvas {
    max-width: calc(100vw - 424px);
    max-height: calc(100vh - 10px)
}